/* .entire_navbar {
  background-color: #eee;
  padding: 0em;
  margin: 0;
}

.navbar_container {
  max-width: 1200px;
  margin: auto;
}

.nav_link_logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.logo {
}
.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  list-style: none;
  height: 100%;
  flex: 1;
}
.image_logo {
  width: 100px;
}

.nav_links > li > a {
  text-decoration: none;
  color: black;
  padding: 1em;
} */
